{% load static %}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" lang='en'>
    <link rel='stylesheet' href="{% static 'bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>


    <!--        Navigation bar starts             -->

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class='container navcont'>
            <a class="navbar-brand" href="#">
                <span>Build</span><span>IT</span>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav ml-auto mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id='link-2'>Web Development</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id='link-3'>Machine Learning</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="link-4">InfoSec</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" id="link-5">Game Development</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <!--        Navigation bar ends             -->

    <!--            first section starts      -->
    <section id='first-container'>
        <div class="container">
            <div class='row'>
                <div class='col-lg-6 col-md-12 column'>

                    <div class="card upper-card">
                        <div class='overlay'></div>
                        <img src="{% static 'image2.jpg' %}" class="card-img" alt="...">
                        <div class="card-img-overlay" id="first">
                            <h6 class='category'> <span>Machine Learning</span> <span class="second-span"> March 27, 2018</span> </h6>
                            <a href="{% url 'view_one_post' 1 %}"><h1>Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</h1></a>
                        </div>
                    </div>
                </div>

                <div class='col-lg-6 col-md-12 column'>
                    <div class="card upper-card">
                        <div class='overlay'></div>
                        <img src="{% static 'image1.jpg' %}" class="card-img" alt="">
                        <div class="card-img-overlay" id="second">
                            <h6 class='category'> <span>Web Development</span> <span class="second-span"> March 27, 2018</span> </h6>
                            <a href="{% url 'view_one_post' 2 %}"><h1 >Ask HN: Does Anybody Still Use JQuery?</h1></a>
                        </div>
                    </div>
                </div>

                </div>

            </div>
        </div>
    </section>
    <!--            first section ends      -->



    <!--            Second section starts      -->

    <section id="second-section">
        <h2 class="text-center"> Recent Posts </h2>

        <div class="container">

            <div class="row">

                <!-- Recent posts  section-->
                {% for post in recent_posts %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card second-section-card">
                            <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class='category card-text'> <span class="{{ post.post_category }}">{{ post.post_category }}</span> <span class="second-span"> March 27, 2018</span> </h6>

                                <a href="{% url 'view_one_post' post.id %}"><h4 class="card-title card-text">{{ post.title }} </h4></a> 
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

    <!--            Second section ends      -->


    <!--        Third section starts           -->
    <section id='third-section'>
        <div class='container'>
            <div class="row">

                <div class='col-lg-8'>

                    <div class="card upper-card">
                        <div class='overlay'></div>
                        <img src="{% static 'image3.jpg' %}" class="card-img" alt="...">
                        <div class="card-img-overlay" id="first">
                            <h6 class='category'> <span class='machine-learning'>Machine Learning</span> <span class="second-span"> March 27, 2018</span> </h6>
                            <h1>Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</h1>
                        </div>
                    </div>

                    <div class="row" id="sub-row-1">

                        <div class="col-6">
                            <div class="card second-section-card">
                                <img src="{% static 'projects.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='web-dev'>Web Development</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card second-section-card">
                                <img src="{% static 'light2.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='game-dev'>Game Development</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" id="sub-row-2">

                        <div class="col-6">
                            <div class="card second-section-card">
                                <img src="{% static 'image2.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='machine-learning'>Machine Learning</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card second-section-card">
                                <img src="{% static 'light1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='info-sec'>Infosec</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row" id="sub-row-2">

                        <div class="col-6">
                            <div class="card second-section-card">
                                <img src="{% static 'projects4.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='game-dev'>Game Development</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card second-section-card">
                                <img src="{% static 'projects5.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='web-dev'>Web Development</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class='col-lg-4' id="most-read">

                    <h2 class="most-read-title">Most Read</h2>

                    <!-- Most read cards   -->
                    {% for article in articles %}

                        <div class="card mb-3" style="width: 520px; height:140px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ article.post_image.url }}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="{% url 'view_one_post' article.id %}"><h5 class="card-title">{{ article.title }}</h5></a>
                                        <p><small> {{ article.date }} </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <h2 id="latest-news"> Latest-news </h2>

                    <div class="row" id="featured-row-1">

                        <div class="col-12">
                            <div class="card second-section-card">
                                <img src="{% static 'projects2.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='machine-learning'>Machine Learning</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card second-section-card">
                                <img src="{% static 'projects3.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class='web-dev'>Web Development</span> <span class="second-span"> March 27, 2018</span> </h6>

                                    <h4 class="card-title card-text">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</h4>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>



            </div>
        </div>
    </section>

    <!--        Third section ends           -->


    <!-- Fourth section starts              -->

    <section id="featured-posts">
        <h2 class="text-center"> Featured Posts </h2>
        <div class="container">
            <div class="row">

                <!-- Featured posts    -->
                {% for post in featured_posts %}
                    <div class='col-lg-4 col-md-6 col-sm-12'>

                        <div class="card">
                            <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class='category card-text'> <span class="{{ post.post_category }}">{{ post.post_category }}</span> <span class="second-span"> {{ post.date }}</span> </h6>
                                    <a href="{% url 'view_one_post' post.id %}"><h4 class="card-title card-text">{{ post.title }}</h4></a>
                                </div>
                        </div>

                    </div>
                {% endfor %}
                


            </div>
        </div>
    </section>

    <!-- Fourth section ends             -->


    <!-- TOP 10 section starts          -->


    <section id="top-ten">
        <h2> Top 10 </h2>
        <div class="container">
            <div class="row">

                <div class='col-lg-8 col-sm-12'>


                    {% for post in top_ten %}

                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-5 col-sm-12">
                                    <img src="{{ post.post_image.url }}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <div class="card-body">
                                        <span class="{{ post.post_category }}">{{ post.post_category }}</span> <span class="second-span"> {{ post.date }}</span>
                                        <a href="{% url 'view_one_post' post.id %}"><h5 class="card-title">{{ post.title }}</h5></a>    
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    

                </div>

                <div class='col-lg-4 col-sm-12 second-column'>

                    <h2 class="ml-auto"> Categories </h2>

                    <ul>
                        <a href="{% url 'view_one_category' 'web-dev' %}"><li>Web Development <span class="web-dev"> 23</span> </li></a>  
                        <a href="{% url 'view_one_category' 'game-dev' %}"><li>Game Development <span class="game-dev"> 15</span> </li></a>    
                        <a href="{% url 'view_one_category' 'machine-learning' %}"><li>Machine Learning <span class="machine-learning"> 10</span> </li></a>
                        <a href="{% url 'view_one_category' 'info-sec' %}"><li>Information Security <span class="info-sec"> 30</span></li></a>
                    </ul>
                </div>

            </div>
        </div>
    </section>


    <!-- TOP 10 section ends          -->

    <!-- Footer starts                 -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                    <h2> Build<span>IT</span></h2>
                    <p><span>Privacy Policy</span>   <span>Advertisment</span></p>
                    <p>© All rights reserved 2020 </p>

                </div>

                <div class="col-lg-3 about-us">
                    <h3 class="about-us-title title"> About Us </h3>
                    <ul class="about-links links">
                        <li>About Us </li>
                        <li>Join Us </li>
                        <li>Contacts </li>
                    </ul>
                </div>

                <div class="col-lg-3 catgories">
                    <h3 class="categories title"> Categories </h3>
                    <ul class="categories-links links">
                        <li>Machine Learning </li>
                        <li>Web Development</li>
                        <li>Game Development </li>
                        <li>Information Security </li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h3 class="title last-title">Join Our Newsletter</h3>
                        
                </div>
                

            </div>
        </div>
    </footer>


    <!-- Footer ends                 -->




    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>

</body>

</html>
